* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: 'Anton'; */
    scroll-behavior: smooth;
    color: white;
}

body {
    width: 100%;
    height: 100%;
}

#main {
    position: relative;
    overflow: hidden;
}

#page {
    position: relative;
    background-color: black;
    width: 100vw;
    height: 100vh;
}

#page>img {
    position: absolute;
    right: 7%;
    width: 30%;
    transform: translateY(-50%);
    top: 50%;

}

#page>#navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    position: absolute;
    z-index: 9;
    height: 10%;
    width: 100%;
    top: 2%;
    gap: 300px;
    /* background-color: indianred; */
}

#logo {
    position: relative;
    left: -80px;
    width: 140px;
    padding: 0px 40px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

spam {
    color: #888df5;
}

#navbar>ul>li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    color: white;
}

#navbar>ul>li>a {
    text-decoration: none;
    font-size: 18px;
    /* font-weight: 500; */
    text-transform: uppercase;
    color: white;
    position: relative;
}

#navbar>ul>li>a::after  {
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    background: #888df5;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

#navbar>ul>li>a:hover::after {
    width: 100%;
}

#text {
    /* background-color: #ff004f; */
    width: 50%;
    top: 25%;
    position: relative;
    left: 5%;
    height: 75%;
    padding: 30px 50px;
    scale: 1.1;
}

#text>h1 {
    font-size: 60px;
    line-height: 1.2;
    color: #fff;
}

span {
    color: #888df5;
}

#text>h4 {
    margin-top: 20px;
    color: #2b2b2b;
    font-size: 17px;
    font-weight: 500;
}

#text>h5 {
    color: #ffb85c;
    transform: rotate(-20deg);
    position: absolute;
    left: 3%;
}

#buttons {
    position: absolute;
    left: 30px;
    bottom: 10%;
    height: 20%;
    width: 100%;
    color: whitesmoke;
    /* background-color: indigo; */
}

#buttons>button {
    color: black;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    padding: 10px 22px;
}

#buttons>button>i {
    font-size: 17px;
    color: black;
}

#buttons>#b1 {
    background-color: #8085df;
    padding: 10px;
    margin-left: 20px;

}

#buttons>#b2 {
    position: relative;
    left: 50px;
}

#page1 {
    background-color: black;
    /* background-color: #ffb85c; */
    width: 100vw;
    height: 100vh;
    position: relative;
}

#page1>#left {
    position: absolute;
    right: 5%;
    height: 100%;
    width: 35%;
    /* background-color: aqua; */
    top: 55%;
    transform: translateY(-50%);
}

#left>.box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 33%;
    width: 100%;
    /* background-color: blue; */
    border-top: 5px solid #ffb85c;
}

#left>.box img:hover {
    cursor: pointer;
    opacity: 0.4;

}

.circle {
    height: 3vh;
    width: 2vw;
    background-color: #8085df;
    border-radius: 50%;
    cursor: pointer;
}

.circle>i {
    color: #fff;
    font-size: 25px;

}

#text1 {
    /* background-color: #ff004f; */
    margin: 50px 50px;
    height: 30%;
    width: 50%;
    position: absolute;
    z-index: 9;
}

#text1>h1 {
    font-size: 70px;
    top: 20px;
}

#text1>h4 {
    font-size: 17px;
    color: #2b2b2b;
    font-weight: 500;
    width: 70%;
    top: 20px;
}

#text1>h5 {
    color: #ffb85c;
    transform: rotate(-20deg);
    position: absolute;
    left: -2%;
}

#text2 {
    /* background-color: aqua; */
    width: 50%;
    height: 30%;
    position: absolute;
    bottom: 15%;
    margin: 50px 50px;
}

#skillicon {
    /* height: 180 vh; */
    width: 50 vw;
    gap: 70px;
    position: absolute;
    display: flex;
    top: 25%;
    flex-wrap: wrap;
    text-align: center;
    /* align-items: center; */
    padding: 5 px;
}

#skillicon>img {
    height: 14vh;
    /* width: 35%; */
}

#page2 {
    background-color: black;
    width: 100vw;
    height: 100vh;
}

.contact-left {
    flex-basis: 35%;
    position: relative;
    left: 5%;
    top: 74px;
}

.subtitle {
    font-size: 60px;
}

.contact-right {
    flex-basis: 35%;
    bottom: 151px;
    position: relative;
    width: 40vw;
    left: 50%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #8085df;
    right: 15px;
    font-size: 25px;
    padding: 5px;

}

.social-icons {
    top: 30px;
    position: relative;

}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    right: 15px;
    color: #888df5;
    display: inline-block;
    transition: transform 0.5s;
    padding: 10px;
}

.social-icons a :hover {
    color: #8085df;
    transform: translateY(-5px);

}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    color: #fff;
    padding: 15px;
    margin: 15px 0;
    font-size: 18px;
    border-radius: 6px;

}

.btn {
    background-color: #8085df;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    padding: 2px 15px;
    cursor: pointer;

}

.copyright {
    background-color: #262626;
    text-align: center;
    width: 100%;
    padding: 25px 0;
    top: 20px;
    font-weight: 300;
}

.copyright i {
    color: #8085df;
}



/* gitt */


#left>img {
    height: 25%;


}

#container>#row>img {
    bottom: 1.7%;
    position: absolute;
    height: 13%;
}
#navbar>.fa-solid{
    display: none;

}
#msg{
    top: 15px;
    position: relative;
}